<html>
<head>
    <link rel="manifest" href="~/manifest.json">
    <meta name="theme-color" content="#2196f3" />
</head>
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script src="~/main.js"></script>
</body>
</html>


